body {
    font-family: serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* style untuk navbar */
nav {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: #176341;
  z-index: 999;
}

.logo img {
  width: 100px;
  height: 60px;
}

.mainmenu {
  flex: 1;
  text-align: center;
}

nav ul {
  display: inline-flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li a{
  white-space: nowrap;
  text-decoration: none;
  color : white;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color:#10714fd8;
}

@media (max-width: 768px) {
  nav {
    padding: 5px 15px;
    margin: 0px;
  }

  nav ul {
    gap: 10px;
  }

  nav ul li a {
    font-size: 13px;
    padding: 6px 8px;
  }

  .logo img {
    width: 60px;
    height: auto;
  }
}
/* akhir sytle navbar */

/* style beranda */
.beranda {
    background-image: url('gambar/beranda2.jpg');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    min-height: 100vh;         
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: clamp(20px, 5vw, 60px);
    color: white;                
}

.isi-beranda {
  flex: 1 1 300px;
  padding: clamp(10px, 5vw, 70px);
  text-align: left;
}

.text-isi-beranda{
  max-width: clamp(250px, 40vw, 500px);
}

.isi-beranda h1{
  font-size: clamp(24px, 5vw, 48px);
  color: black;
}

.isi-beranda h3{
  font-weight: 200;
  color: black;
  text-align: justify;
  font-size: clamp(14px, 2vw, 18px);
}

.fitur-mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  margin: 30px 0;
}

.fitur-mini > div {
  border-right: 1px solid #10714fd8;
  padding-right: 20px;
}

.fitur-mini > div:last-child {
  border-right: none;
}

.fitur-item h2 {
  font-size: clamp(18px, 3vw, 30px);
  color: #10714fd8;
  margin: 0;
}

.fitur-item p {
  font-size: clamp(12px, 2vw, 20px);
  color: black;
  margin: 6px 0 0;
}

.isi-beranda a{
  font-size: clamp(14px, 2vw, 18px);
  text-decoration: none;
  background-color:#10714fd8;
  color: white;
  border-radius: 30px;
  padding :10px 15px;
  display: inline-block;
}

.isi-beranda a:hover {
  background-color: #0b4c35d8;
}

@media (max-width: 768px) {
  .beranda {
    align-items: flex-start; 
    padding-top: 150px;       
    background-position: 45% center;
  }

}
/* akhir style beranda */

/* style tentang */

.tentang {
  background-image: url('gambar/tentang.jpg'); 
  background-size: cover;   
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
  padding: 5vw; 
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0; 
}

.head-tentang {
  text-align: center;
  padding: 2vh 0;
}

.head-tentang h1 {
  color: #faebd7;
  font-size: clamp(22px, 4vw, 40px); 
}

.bagian-tentang {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4vh;
}

.gambar-tentang {
  flex: 1 1 250px;
  display: flex;
  justify-content: center;
}

.gambar-tentang img {
  width: 100%;
  max-width: 300px; 
  height: auto;
}

.isi-tentang {
  flex: 2 1 300px;
}

.text-isi-tentang {
  border-radius: 20px;
  margin: 2vh 0;
  background-color: #faebd7;
  padding: clamp(15px, 2vw, 20px);
}

.text-isi-tentang h3 {
  font-size: clamp(15px, 2vw, 20px); 
  color: black;
  line-height: 1.5;
  font-weight: 400;
  font-family:serif;
  text-align: justify;
}
/* akhir style tentang */

/* style koleksi */
.koleksi{
  width: 100%;
  min-height: 100vh;
  background-color: #faebd7;
  padding-bottom: 10px;
  padding-top: 50px;
  margin-top: 0px;
}

.head-koleksi h1 {
  text-align: center;
  font-size: clamp(22px, 4vw, 35px);;
  color: black;
  margin: 0 0 40px;
}

.bagian-koleksi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.buku-koleksi {
  display: flex;               
  flex-direction: column;      
  justify-content: space-between; 
  flex: 1 1 200px;
  max-width: clamp(100px, 20%, 220px);
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.buku-koleksi:hover {
  transform: translateY(-5px);
}

.buku-koleksi img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 15px;
}

.buku-koleksi h1 {
  font-size: clamp(16px, 2vw, 20px);
  margin: 10px 0 5px;
}

.buku-koleksi p {
  font-size: clamp(14px, 2vw, 17px);
  color: black;
  margin-bottom: 15px;
}

.buku-koleksi a {
  display: inline-block;
  padding: 11px 16px;
  background-color: #10714fd8;
  color:white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 150;
  font-size: clamp(11px, 2vw, 16px);
}

.buku-koleksi a:hover {
  background-color: #0b4c35d8;
  color: white;
}

.lihat-koleksi{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.lihat-koleksi a {
  font-size: clamp(16px, 2vw, 20px);
  text-align: center;
  padding: 10px 25px;
  background-color: #10714fd8;
  color:white;
  text-decoration: none;
  border-radius: 20px;
}

.lihat-koleksi a:hover {
  background-color: #0b4c35d8;
  color: white;
}
/* akhir style koleksi */

/* style kontak */
.contact{
  background-color: #10714fd8;
  margin: 0px;
}

.contact h1{
  text-align: center;
  font-size: 35px;
  padding:20px 20px;
  margin: 0px;
  color: white;
}

.contact-sosmed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding: 20px;
  background-color: #faebd7;
}

.sosmed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 10px;
}

.sosmed img {
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
}

.sosmed p {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom : 10px;
    color: black;
}

.sosmed a {
    text-decoration: none;
    font-weight: bold;
    color: #10714fd8;
    font-size: 18px;
    text-align: center;
}

.sosmed a:hover {
    color: #0b4c35d8;
}

footer{
  background-color: #faebd7;
  padding: 0px;
  margin: 0px;
}

footer p {
    text-align: center;
    color: #10714fd8;
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0px;
}

@media (max-width: 600px) {
  .sosmed {
    margin: 0px;
  }
}
/* akhir style kontak */

/* style kategori buku  */
.koleksi-buku {
  display: flex;
  flex-direction: row;   
  background-color: #faebd7;
}

.kategori {
  position: sticky;    
  top: 0;
  flex: 0 0 15%;       
  min-width: 120px;
  max-width: 150px;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  background-color:#10714fd8;
  text-align: left;
}

.kategori h3 {
  margin-top: 80px;
  font-size: clamp(18px, 3vw, 24px);
  color: white;
  font-weight: 200;
}

.kategori ul {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.kategori ul li {
  margin: 17px 0;
}

.kategori a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  font-size: clamp(14px, 2vw, 17px);
  font-weight: 100;
  display: inline-block;
}

.kategori a:hover {
  background-color: #0b4c35d8;
  border-radius: 30px;
}

.aktif {
  background-color: #0b4c35d8;
  border-radius: 30px;
}

.buku {
  flex: 1;                 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 4% 30px 4%;
  margin-top: 60px;
}

.buku-box {
  display: flex;               
  flex-direction: column;      
  justify-content: space-between; 
  width: 100%;
  max-width: clamp(120px, 20%, 170px);
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.buku-box:hover {
  transform: translateY(-5px);
}

.buku-box img {
  width: 100%;
  height: clamp(170px, 20vw, 280px);
  border-radius: 6px;
  margin-bottom: 15px;
  object-fit: cover;
}

.buku-box h1 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.buku-box p {
  font-size: 0.9em;
  color: #444;
  margin-bottom: 15px;
}

.buku-box a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #10714fd8;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 150;
  margin-top: auto;
  font-size: clamp(12px, 2vw, 16px);
}

.buku-box a:hover {
  background-color: #0b4c35d8;
  color: white;
}

@media (max-width: 768px) {
  .koleksi-buku {
    flex-direction: column;   
    overflow-x: hidden;
  }

  .kategori {
    position: relative;
    width: 100%;
    max-width: none;
    height: auto;
    padding: 15px;
    margin-top: 43px;         
  }

  .kategori h3 {
    margin-top: 0;
    text-align: center;
  }

  .buku {
    padding: 20px;
  }
}
/* akhir style koleksi.html */


/* style isi buku */
.ket-buku {
  padding: 5vw;
  box-sizing: border-box;
  height: auto;
  margin: 0; 
  background-image: url('gambar/tentang.jpg'); 
  background-size: cover;   
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
}

.kembali {
  margin-bottom: 50px;
}

.kembali a{
  font-size: 20px;
  text-align: center;
  padding: 8px 16px;
  background-color: #10714fd8;
  color:white;
  text-decoration: none;
  border-radius: 20px;
}

.kembali a:hover {
  background-color: #0b4c35d8;
  color: white;
}

.box-ket-buku {
  background-color: #faebd7;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 50px;
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto 50px;
}

.header-buku {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;

}

.header-buku img {
  flex: 1 1 180px; 
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.header-buku-content {
  flex: 2 1 300px;
}

.header-buku-content h1 {
  font-size: clamp(20px, 4vw, 32px);
  margin: 0;
}

.header-buku-content p{
  font-size: clamp(14px, 2vw, 18px);
  margin: 0.5rem 0;
}

.header-buku-content h3{
  color: #10714fd8;
  margin: 1rem 0 2rem;
  font-size: clamp(16px, 3vw, 24px);
}

.header-buku-content a{
  font-size: clamp(16px, 2vw, 20px);
  text-align: center;
  padding: 8px 16px;
  background-color: #10714fd8;
  color:white;
  text-decoration: none;
  border-radius: 20px;
}

.header-buku-content a:hover{
  background-color: #0b4c35d8;
  color: white;
}

.detail-buku {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #10714fd8;
  padding: 15px 20px;
  border-radius: 8px;
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto 3rem;
  padding: 1rem;
}

.detail-buku > div {
  flex: 1 1 150px;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.detail-buku > div:last-child {
  border-right: none;
}

.detail-buku p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.detail-buku p:last-child {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.747);
}

.sinopsis h4{
  font-size: clamp(18px, 3vw, 24px);
}

.sinopsis p{
  font-size: clamp(14px, 2vw, 18px);
  text-align: justify;
}

@media (max-width: 768px){
  .detail-buku > div {
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }

  .detail-buku > div:last-child {
    border-bottom: none;
  }
}





